body {
  background-color: rgb(224, 238, 240);
  font-family: 'Source Code Pro', monospace;
  color:rgb(66, 109, 138);
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: rgb(66, 109, 138);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: rgb(66, 109, 138);
  color: white;
}

.header-right {
  float: right;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.grid-item{
  padding: 50px;
  background-color: #f1f1f1;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  color: rgb(66, 109, 138);
}

.grid-container a:hover {
  background-color: #ddd;
  color: black;
}

.contact-container {
  padding: 10px 30% 10px 30%;
}

.contain-contacts {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ddd;
}

.contact-item {
  padding:  10px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
